/target
/.direnv
/.jj
/.env
/.env.*
/result
*.qcow2
*.qcow2.gz
node_modules
/apps/*/.astro
/apps/*/dist
/.terraform
/infra/opentofu/.terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.plan
.DS_Store
